<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Moj lulček hoče sončit se,<br>
      prav tako kot rit.<br>
      Moj lulček res vse bi dal,<br>
      da jajca bi na soncu žgal.<br>
      <br>
      Joške na prostost hitijo,<br>
      miške tut - in jo dobijo.<br></p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>